

<div class="line">
    <div class="header">MODERATION</div>
    <div class="line-content">
        <div class="left">Bans</div>
        <div class="right"><%= data.moderation.bans %></div>
    </div>
    <div class="line-content">
        <div class="left">Timeouts</div>
        <div class="right"><%= data.moderation.timeouts %></div>
    </div>
    <div class="line-content">
        <div class="left">Juicers Shot</div>
        <div class="right"><%= data.blicky.xqc %></div>
    </div>
    <div class="line-content">
        <div class="left">Poki Fans Shot</div>
        <div class="right"><%= data.blicky.pokimane %></div>
    </div>
    <div class="line-content">
        <div class="left">Hasan Fans Shot</div>
        <div class="right"><%= data.blicky.hasanabi %></div>
    </div>
    <div class="line-content">
        <div class="left">Mizkif Fans Shot</div>
        <div class="right"><%= data.blicky.mizkif %></div>
    </div>
</div>